@model ClassifiedAds.Models.Ad
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

  
    
      <!-- /Static navbar --> 
      <!-- Content -->
      <div class="row content">
        <div class="col-lg-3 content-left">
            <h4>Search</h4>
            <a href="/Ads/search" class="btn btn-success btn-lg">Search Classifieds</a>
            <br />
          <h4>Categories</h4>
            <div class="list-group categories">
                <a href="/Ads/category/Books" class="list-group-item">Books <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="/Ads/category/Cameras" class="list-group-item">Cameras & Photo <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="/Ads/category/Cell" class="list-group-item">Cell Phones & Accessories <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="/Ads/category/Clothing" class="list-group-item">Clothing, Shoes & Accessories <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="/Ads/category/Computers" class="list-group-item">Computers & Networking <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="/Ads/category/DVDs" class="list-group-item">DVDs & Movies <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="/Ads/category/Health" class="list-group-item">Health & Beauty <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="/Ads/category/Music" class="list-group-item">Music <span class="glyphicon glyphicon-chevron-right"></span></a>
                <a href="/Ads/category/ToysS" class="list-group-item">Toys & Hobbies <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>

        </div>
        <div class="col-lg-9 content-right">
          <ol class="breadcrumb">
            <li>@Html.ActionLink("Home","Index","Home")</li>
            <li>@Html.ActionLink("Add classified", "addClassified", "Ads")</li>
          </ol>
          <h2>Add classified</h2>
          <p>Post your ads by filling the form below. CZSale - Classified Ads Website is free and always will be. Enjoy !!!</p>
          <hr>
            
            @using (Html.BeginForm("addClassified", "Ads", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
            {   
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Classified sections</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="cat">Category</label>
                            @{
                                var items = new List<SelectListItem>{
                                new SelectListItem {Text = "Books"},
                                new SelectListItem {Text = "Cameras & Photo"},
                                new SelectListItem {Text = "Cell Phones & Accessories", Selected = true},
                                new SelectListItem {Text = "Clothing, Shoes & Accessories"},
                                new SelectListItem {Text = "Computers & Networking"},
                                new SelectListItem {Text = "DVDs & Movies"},
                                new SelectListItem {Text = "Health & Beauty"},
                                new SelectListItem {Text = "Music"},
                                new SelectListItem {Text = "Toys & Hobbies"}
                                 };
                            }
                            @Html.DropDownListFor(model => model.category, items, new { @class = "form-control" })
                            
                        </div>

                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Classified details</h3>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="heading">Title</label>
                            @Html.TextBoxFor(model => model.title, new { @class = "form-control", placeholder = "eg. Apple iPad mini 32GB Wi-Fi + Cellular 1 Year Warranty", type = "text" })
                          
                            @Html.ValidationMessageFor(model => model.title)
                        </div>

                        <div class="form-group">
                            <label for="heading">Brand</label>
                            @Html.TextBoxFor(model => model.brand, new { @class = "form-control", placeholder = "Apple,Nokia,LG", type = "text" })
                            
                            @Html.ValidationMessageFor(model => model.brand)
                        </div>

                        <div class="form-group">
                            <label for="status">Status</label>

                            @{
                                var items2 = new List<SelectListItem>{
                                new SelectListItem {Text = "New", Selected = true},
                                new SelectListItem {Text = "Used"}
                                
                                 };
                            }
                            @Html.DropDownListFor(model => model.status, items2, new { @class = "form-control" })

                        </div>

                        <div class="form-group">
                            <label for="text">Description</label>
                            @Html.TextAreaFor(model => model.description, new { @class = "form-control", rows = "6" })
                            
                            @Html.ValidationMessageFor(model => model.description)
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group" style="width: 150px;">
                                        @Html.TextBoxFor(model => model.price, new { @class = "form-control", type = "number" })
                                         <span class="input-group-addon">PKR</span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.price)
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Classified images</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Select image</label>
                            <input type="file" name="file" id="file">

                        </div>
                    </div>
                </div>

                <div class="well">
                    <p>Click here to post the ad.</p>

                    <button type="submit" class="btn btn-success">Post Ad</button>
                </div>
            }
            
        </div>
      </div>
      <!-- /Content -->

    <link href="~/Content/error.css" rel="stylesheet" media="screen">
      
    <!-- JS -->
      <script src="~/Scripts/jquery-1.10.2.min.js"></script>
      <script src="~/Scripts/bootstrap.min.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
      <script src="~/Scripts/jquery.slides.min.js"></script>
    <script>
    $( document ).ready(function() {
      // Drop down menu handler
      $('.dropdown-menu').find('form').click(function (e) {
        e.stopPropagation();
      });
    });
    </script>
    <!-- /JS -->
  
</html>